* {

    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
   font-family: "Roboto", sans-serif; 
    
}

img,video{
    width: 100%;

}

#site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 10%;

}



#site-header img {
   

    width: 80px;
    
}

#site-header ul {

  
  display: flex;
}

#site-header nav a {

    color: gray;
    padding: 10px;
    letter-spacing: 2px;
   
}
/* flecha */

#site-header nav>ul>li {

    position: relative;
    margin: 0 20px;
}

#site-header nav>ul>li>i{

    position: absolute;
    color: chocolate;
    bottom: 150%;
    opacity: 0;
    left: 45%;
}

#site-header nav>ul>li>a:hover+i{

 bottom: 100%;
 opacity: 1;
 transition: opacity 1s, bottom 1s;
}
/* termina la flecha */

#site-header nav ul li ul{

    position: absolute;
    top: 100%;
    width: 100%;
    right: 0;
    padding-top: 10px;
    display: none;

}
#site-header nav>ul li:hover ul{
    display: block;
}

/* H1 Encabezado */

#index-main{
    padding: 20px 10%;
}

#index-main h1{

    font-size: 2.8rem;
    margin-top: 80px;
    margin-bottom: 80px;
}


#index-main h1 span{
    background-color: rgb(218, 165, 50);
    cursor: pointer;
}

#index-main h1 span:hover {

    background-color: white;
    transition: background-color 1s;
}
/*  se termina el encabezado */

/*  las imagenes  */


#index-main section>div {

    flex-wrap: wrap;
    display:flex;
  
}

#index-main section>div article{

    width: 50%;
    
}



#index-main section article a {

    color: black;
    font-weight: bold;
    
  
   
        
}


#index-main section article div{
    margin-bottom: 60px;

  
  
}


/* se terminan las imagenes */

/* flecha del lado del texto */

#index-main article i, #proyectos-main article i {

    margin-left: 10px;
    color: chocolate;
    translate:0px;
    opacity: 1;


}

#index-main article p:hover,
#proyectos-main article p:hover{

    color: chocolate;
    transition: color 0.8s;
}
#index-main article p:hover i, 
#proyectos-main article p:hover i{

    transition:translate 1s, opacity 1s;
    translate: 40px;
    opacity: 0;
}

/* se termina la flecha */


#index-main div>a{

    display: inline-block;
    padding: 15px;
    color: black;
    border: 1px solid black;
    margin: auto;
   
   
  
}

#index-main div>a:hover{

    background-color: black;
   
    color: chocolate;
    transition: background-color 1s;
}

/* segunda seccion */

.dos h2{

    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.dos h2 span{
    background-color: rgb(218, 165, 50);
    cursor: pointer;
}

.dos h2 span:hover {

    background-color: white;
    transition: background-color 1s;
}





/* COOKIES */

#site-aside {
    display: none;
}

#site-aside{
    background-color: black;
    padding: 100px 10%;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
   
   
    
   
   
}

#site-aside p,h2 {
    margin-bottom: 20px;
  
 
   
}
#site-aside form button{
    padding: 10px;
    border-radius: 3px;
    margin-right: 1px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: chocolate;
 
}

/* se termina las cookies */


/* empieza footer */



footer{

    background-color: black;
    color: aliceblue;
padding: 50px;
text-align: center;
}




footer a {

  
   display: inline-block;
   color: aliceblue;
   font-size: 20px;
   margin-bottom: 15px;
   margin: 10px;
   border-bottom: 2px solid white;
}

footer a:hover{

    color: chocolate;
    cursor: pointer;
    border-bottom: 2px solid chocolate;
    transition:color 1s;
   
   

}

/* termina el footer */


/* Este es el subrayado para que el usuario vea donde esta situado EJ:NOSOTROS */


.active{
    border-bottom: 1px solid orange;
    }

    /* aqui termina  */



/* Aqui empieza el sobre nosotros  */




#nosotros-main section:first-child {

    background-color:rgb(61, 60, 60);
    padding: 90px 10%;
    
}


    

#nosotros-main h1{

    color: rgb(218, 165, 50);
    
    margin-bottom: 20px;
   
    font-size: 4rem;
   
   

}

#nosotros-main section:first-child div{


    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
   
}

#nosotros-main section:first-child div p {

    width: 45%;
  
}

#nosotros-main section:first-child div p:first-child {

    border-bottom: 2px solid chocolate;
  
}

/* termina la primera seccion */



/* Empieza la segunda seccion */

#nosotros-main section:nth-child(2),section:last-child{

  margin: 100px 80px;
}

#nosotros-main h2{
    font-size: 1.8rem;
   
    
    

}

#nosotros-main section:nth-child(2) div{

    
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin: 30px 0;

    
}

#nosotros-main section:nth-child(2) div>p{

    width: 45%;
    font-size: 16px;
}

#nosotros-main section:nth-child(2) img{

    width: 100%;


}

/* aqui termina la segunda seccion */



/* Aqui empieza la tercera seccion */



.ter{
    display: flex;
    justify-content: space-between;
    padding:0 10% 5px 10%;
}

.ter div{

    width: 15%;


}

#nosotros-main section:nth-child(3) i{

    color:darkorange;
    font-size: 50px;
    margin-top:20px;
    margin-bottom: 20px;

    
}
#nosotros-main section :last-child.ter>div>h3{

    margin-bottom: 20px;
}

/* aqui empieza proyectos */

#proyectos-main section:first-child {

    background-color:rgb(61, 60, 60);
    padding: 90px 10%;
    
}


#proyectos-main h1{

    color: rgb(218, 165, 50);
    
    margin-bottom: 20px;
   
    font-size: 4rem;
   
   

}


#proyectos-main section:first-child p{


    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 50px;
    width: 50%;
   
   
   
}

#proyectos-main section:first-child p{

    border-bottom: 2px solid chocolate;
   
}
/* imagenes */

#proyectos-main section:nth-child(2){

    flex-wrap: wrap;
    display:flex;
  
}

#proyectos-main section article{

    width: 50%;
    
}



#proyectos-main section article a {

    color: black;
    font-weight: bold;
    
  
   
        
}


#proyectos-main section article div{
    margin-bottom: 60px;

  
  
}



#proyectos-main div>h2{

    font-size: 18px;
}

#proyectos-main article div h2,h3{
    margin-bottom: 15px;
   

  
}
/* aqui termina proyectos */


