* {

    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
   font-family: "Roboto", sans-serif; 
    
}

img,video{
    width: 100%;

}

#site-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px 10%;

}



#site-header img {
   

    width: 80px;
    
}

#site-header ul {

  
  display: flex;
}

#site-header nav a {

    color: gray;
    padding: 10px;
    letter-spacing: 2px;
   
}
/* flecha */

#site-header nav>ul>li {

    position: relative;
    margin: 0 20px;
}

#site-header nav>ul>li>i{

    position: absolute;
    color: chocolate;
    bottom: 150%;
    opacity: 0;
    left: 45%;
}

#site-header nav>ul>li>a:hover+i{

 bottom: 100%;
 opacity: 1;
 transition: opacity 1s, bottom 1s;
}
/* termina la flecha */

#site-header nav ul li ul{

    position: absolute;
    top: 100%;
    width: 100%;
    right: 0;
    padding-top: 10px;
    display: none;

}
#site-header nav>ul li:hover ul{
    display: block;
}

/* H1 Encabezado */

#index-main{
    padding: 20px 10%;
}

#index-main h1{

    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
}


#index-main h1 span{
    background-color: rgb(218, 165, 50);
    cursor: pointer;
}

#index-main h1 span:hover {

    background-color: white;
    transition: background-color 1s;
}
/*  se termina el encabezado */

/*  las imagenes  */


#index-main section>div {

    flex-wrap: wrap;
    display:flex;
  
}

#index-main section>div article{

    width: 50%;
    
}



#index-main section article a {

    color: black;
    font-weight: bold;
    
  
   
        
}


#index-main section article div{
    margin-bottom: 60px;

  
  
}


/* se terminan las imagenes */

/* flecha del lado del texto */

#index-main article i {

    margin-left: 10px;
    color: chocolate;
    translate:0px;
    opacity: 1;


}

#index-main article p:hover{

    color: chocolate;
    transition: color 0.8s;
}
#index-main article p:hover i{

    transition:translate 1s, opacity 1s;
    translate: 40px;
    opacity: 0;
}

/* se termina la flecha */

#index-main div>a{

    display: inline-block;
    padding: 15px;
    color: black;
    border: 1px solid black;
    margin: auto;
   
   
  
}

#index-main div>a:hover{

    background-color: black;
   
    color: chocolate;
    transition: background-color 1s;
}

/* segunda seccion */

.dos h2{

    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.dos h2 span{
    background-color: rgb(218, 165, 50);
    cursor: pointer;
}

.dos h2 span:hover {

    background-color: white;
    transition: background-color 1s;
}





/* COOKIES */

#site-aside {
    display: none;
}

#site-aside{
    background-color: black;
    padding: 40px;
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    
   
   
}

#site-aside p {
    margin-bottom: 15px;
}
#site-aside form button{
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

#site-aside form button:nth-child(1){
    background-color: chocolate;
 

}

#site-aside form button:nth-child(2){

    background-color:rgb(230, 207, 75);

}

footer{

    background-color: black;
    color: aliceblue;
padding: 50px;
text-align: center;
}



footer a {

  
   display: inline-block;
   color: aliceblue;
   font-size: 20px;
   margin-bottom: 15px;
   margin: 10px;
}

footer a :hover{

    color: chocolate;
    cursor: pointer;
}

/* Aqui empieza el sobre nosotros  */

#nosotros-main {

  
   padding: 50px;
   display: flex;
   
    
 }
   



#nosotros-main section:first-child {

    background-color:rgb(61, 60, 60);
    color: white;
   
}


    

#nosotros-main h1{

    color: rgb(218, 165, 50);
    font-size: 40px;


}

#nosotros-main section :first-child div {

    padding: 40px;
   
   
}








    




























