

@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Martian+Mono:wght@100..800&display=swap');




* {
    list-style: none;
    font-family: 'Martian Mono';

    box-sizing: border-box;

}

header {

    background-color: #13293D;
    padding: 70px 60px;
    color:white;
    text-align: center;
    font-size: 30px;
  
    
}



header h1 {
    font-size: 60px;
    font-weight: bold;
    color: #B7D1DA;


}

header button {

    background-color: #B7D1DA;
    border-radius: 10px;
    padding: 15px;
    border: 2px solid white ;
    font-size: 25px;

  


}

header button:hover{

    background: #aaebee; 
    color:black;
    border-radius: 10px;
    box-shadow: 0 0 5px #aaebee ,
    0 0 20px #aaebee,
    0 0 30px #aaebee,
    0 0 80px #aaebee;

}

#inputTexto{

    padding: 15px;
    width: 75%;
  
    align-items: center;
    font-size: 25px;
    
}


#lista button {

    
    background-color:#13293D;
    border-radius:15px;
    border: 2px solid #B7D1DA ;
    padding:7px;
    color: white;
    margin:10px;



}

#lista button:nth-child(2){

    position: absolute;
    right:20px;
   
    
}



.marcada{
    color: rgba(100, 100, 100, 05);
    text-decoration: line-through;
}



ul li:nth-child(odd) {
    background: #eef3e5;
}

li i{
    font-size:25px;
    
  position: relative;

  display: flex;



}



#lista{

    background-color:#B8D8D8;
    border: #13293D 2px solid;
    justify-content: center;

    padding: 30px 20px;

    font-size: 25px;

    position: relative;
    cursor: pointer;
   

    transition: 0.2s;
    

  

}

ul li:hover{

    background-color:#B8F3FF;
}

body{

    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;

 } 

   